<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPBC - {% block title %}{% endblock %}</title>
</head>

<body>
    <aside>
        <nav>
            <menu>
                <li class="{ current_page.calculate }"><a href="#">Calculate</a></li>
                <li class="{ current_page.edit_papers }"><a href="#">Edit Papers</a></li>
                <li class="{ current_page.insights }"><a href="#">Insights</a></li>
                <li class="{ current_page.history }"><a href="#">History</a></li>
                <li class="{ current_page.settings }"><a href="#">Settings</a></li>
            </menu>
        </nav>
    </aside>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>