{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NPBC - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'calculator/css/base.css' %}">
</head>

<body>
    <aside>
        <h1>NPBC</h1>
        <nav>
            <menu>
                <a><li class="{% if current_page == 'calculate' %}current{% endif %}">Calculate</li></a>
                <a><li class="{% if current_page == 'edit_papers' %}current{% endif %}">Edit Papers</li></a>
                <a><li class="{% if current_page == 'insights' %}current{% endif %}">Insights</li></a>
                <a><li class="{% if current_page == 'history' %}current{% endif %}">History</li></a>
                <a><li class="{% if current_page == 'settings' %}current{% endif %}">Settings</li></a>
            </menu>
        </nav>
    </aside>

    <main>
        {% csrf_token %}
        {% block content %}{% endblock %}
    </main>
</body>

</html>