body {
    display: grid;
    grid-template-areas:
        "aside main main"
        "aside main main"
        "aside main main";
    margin: 0;
    font-family: sans-serif;
}

aside {
    grid-area: aside;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #1565c0;
    margin-bottom: 2em;
}

h2 {
    color: #757575;
    border-bottom: #757575 1px solid;
}

main {
    grid-area: main;
}

aside {
    background-color: #BBDEFB;
}

nav menu {
    list-style-type: none;
    padding: 0;
}

nav>menu li {
    display: block;
    padding: 1em 2em;
}

nav>menu li.current {
    background-color: #2962FF;
    color: white;
    font-weight: bold;
}

nav>menu li:hover {
    background-color: #90CAF9;
}

p.success {
    color: #4caf50;
}

p.error {
    color: #f44336;
}