main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "papers calendar calendar"
        "papers calendar calendar"
        "papers results results";
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td,
th {
    border: 1px solid black;
    padding: 5px;
}

div#papersList {
    grid-area: papers;
}

div#papersList ol {
    padding: 0;
}

div#calendar {
    grid-area: calendar;
}

div#results {
    grid-area: results;
}

section.paperCard {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "data";
}

section.paperCard:hover {
    background-color: #f1f1f1;
    /* cursor: pointer; */
}

section.paperCard.selectedPaper {
    border: #2979ff 5px solid;
    background-color: #bbdefb;
}

section.paperCard .paperCheckbox {
    grid-area: header;
    /* align-self: ; */
    padding: 20px;
    width: 20px;
    height: 20px;
}

section.paperCard h2 {
    grid-area: header;
    
    /*horizontal centering*/
    display: flex;
    justify-content: center;
}

section.paperCard table {
    grid-area: data;
}

.paperLink {
    text-decoration: none;
    color: black;
}

.deliveryCheckbox[readonly] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0.5rem;
    pointer-events: none;
}

.deliveryCheckbox[readonly]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    background-color: green;
}

.deliveryCheckbox[readonly]:checked::before {
    transform: scale(1);
}

.costInput {
    width: 80%;
    display: block;
    
}

.costInput[readonly] {
    border: 0;
    background-color: transparent;
    text-align: right;
}

.costInput[readonly]:focus {
    outline: none;
}

.costInput[readonly]::placeholder {
    text-align: right;
}

.quickEdit {
    grid-area: quickEdit;
    width: fit-content;
    margin-left: auto;
}

.undelivered {
    background-color: red;
    color: white;
    font-weight: bold;
}

tr.currentPaper {
    background-color: #bbdefb;
    font-weight: bold;
}