main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "papers papers calendar_results";

    margin: 1em;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    padding: 0.5em;
}

div#papersList {
    grid-area: papers;
    width: 40vw;
    margin-right: 1em;
}

div#papersList ol {
    padding: 0;
}

div#calendar_results {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "calendar"
        "results";
    height: 100vh;
    width: 40vw;
    margin-left: 1em;
}

div#calendar {
    grid-area: calendar;
}

div#results {
    grid-area: results;
}

section.paperCard {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 0;
    margin: 1.5em 0;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "data";
}

section.paperCard:hover {
    background-color: #f1f1f1;
}

section.paperCard.selectedPaper {
    border: #2979ff 5px solid;
    background-color: #bbdefb;
}

section.paperCard .paperCheckbox {
    grid-area: header;
    padding: 20px;
    margin: 10px;
    width: 20px;
    height: 20px;
}

section.paperCard h3 {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 1.5em;
}

section.paperCard table {
    grid-area: data;
    margin: 20px;
    margin-top: 10px;
}

section.paperCard table td {
    text-align: center;
}

section.paperCard table input {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.paperLink {
    text-decoration: none;
    color: black;
}

.deliveryCheckbox[readonly] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0.5em;
    pointer-events: none;
}

.deliveryCheckbox[readonly]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    background-color: green;
}

.deliveryCheckbox[readonly]:checked::before {
    transform: scale(1);
}

.costInput[readonly] {
    border: 0;
    background-color: transparent;
    -moz-appearance: textfield;
}

.quickEdit {
    grid-area: quickEdit;
    width: fit-content;
    margin-left: auto;
}

.undelivered {
    background-color: red;
    color: white;
    font-weight: bold;
}

tr.currentPaper {
    background-color: #bbdefb;
    font-weight: bold;
}

#prevMonth, #nextMonth, #monthInput, #yearInput, #copy, #save {
    margin: 0.25em;
    padding: 0.3em;
    text-transform: uppercase;
}

#yearInput {
    width: 4em;
}

#prevMonth, #copy {
    margin-left: 0;
}

th {
    background-color: #2979ff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
}

tr#totalCost {
    font-size: large;
    font-weight: bold;
    text-align: center;
}


p#registerStatus, p#copySaveStatus {
    font-weight: bold;
    text-transform: uppercase;
}
